// 基础颜色变量
$blue: #1989FA;
$green: #19be6b;
$red: #ed3f14;
$orange: #ff9900;
$black: #000000;
$white: #ffffff;

// 文本颜色变量
$titleColor: #1c2438;
$textColor: #495060;
$tipsColor: #80848f;
$borderColor: #dddee1;
$dividerColor: #e9eaec;
$bgColor: #f8f8f9;

// 字体大小变量
$smallerFont: 10px;
$smallFont: 12px;
$normalFont: 14px;
$largeFont: 16px;
$largerFont: 18px;