.we-margin-0 {
    margin: 0px;
}
.we-margin-5 {
    margin: 5px;
}
.we-margin-10 {
    margin: 10px;
}
.we-margin-15 {
    margin: 15px;
}
.we-margin-20 {
    margin: 20px;
}

.we-margin-top-0 {
    margin-top: 0px;
}
.we-margin-top-5 {
    margin-top: 5px;
}
.we-margin-top-10 {
    margin-top: 10px;
}
.we-margin-top-15 {
    margin-top: 15px;
}
.we-margin-top-20 {
    margin-top: 20px;
}

.we-margin-bottom-0 {
    margin-bottom: 0px;
}
.we-margin-bottom-5 {
    margin-bottom: 5px;
}
.we-margin-bottom-10 {
    margin-bottom: 10px;
}
.we-margin-bottom-15 {
    margin-bottom: 15px;
}
.we-margin-bottom-20 {
    margin-bottom: 20px;
}

.we-margin-left-0 {
    margin-left: 0px;
}
.we-margin-left-5 {
    margin-left: 5px;
}
.we-margin-left-10 {
    margin-left: 10px;
}
.we-margin-left-15 {
    margin-left: 15px;
}
.we-margin-left-20 {
    margin-left: 20px;
}

.we-margin-right-0 {
    margin-right: 0px;
}
.we-margin-right-5 {
    margin-right: 5px;
}
.we-margin-right-10 {
    margin-right: 10px;
}
.we-margin-right-15 {
    margin-right: 15px;
}
.we-margin-right-20 {
    margin-right: 20px;
}