.we-padding-0,
.we-padding-5,
.we-padding-10,
.we-padding-15,
.we-padding-20,
.we-padding-top-0,
.we-padding-top-5,
.we-padding-top-10,
.we-padding-top-15,
.we-padding-top-20,
.we-padding-bottom-0,
.we-padding-bottom-5,
.we-padding-bottom-10,
.we-padding-bottom-15,
.we-padding-bottom-20,
.we-padding-left-0,
.we-padding-left-5,
.we-padding-left-10,
.we-padding-left-15,
.we-padding-left-20,
.we-padding-right-0,
.we-padding-right-5,
.we-padding-right-10,
.we-padding-right-15,
.we-padding-right-20 {
    box-sizing: border-box;
}

.we-padding-0 {
    padding: 0px;
}
.we-padding-5 {
    padding: 5px;
}
.we-padding-10 {
    padding: 10px;
}
.we-padding-15 {
    padding: 15px;
}
.we-padding-20 {
    padding: 20px;
}

.we-padding-top-0 {
    padding-top: 0px;
}
.we-padding-top-5 {
    padding-top: 5px;
}
.we-padding-top-10 {
    padding-top: 10px;
}
.we-padding-top-15 {
    padding-top: 15px;
}
.we-padding-top-20 {
    padding-top: 20px;
}

.we-padding-bottom-0 {
    padding-bottom: 0px;
}
.we-padding-bottom-5 {
    padding-bottom: 5px;
}
.we-padding-bottom-10 {
    padding-bottom: 10px;
}
.we-padding-bottom-15 {
    padding-bottom: 15px;
}
.we-padding-bottom-20 {
    padding-bottom: 20px;
}

.we-padding-left-0 {
    padding-left: 0px;
}
.we-padding-left-5 {
    padding-left: 5px;
}
.we-padding-left-10 {
    padding-left: 10px;
}
.we-padding-left-15 {
    padding-left: 15px;
}
.we-padding-left-20 {
    padding-left: 20px;
}

.we-padding-right-0 {
    padding-right: 0px;
}
.we-padding-right-5 {
    padding-right: 5px;
}
.we-padding-right-10 {
    padding-right: 10px;
}
.we-padding-right-15 {
    padding-right: 15px;
}
.we-padding-right-20 {
    padding-right: 20px;
}