html,
body {
    font-family: PingFangSC-Regular, sans-serif;
    font-size: $normalFont;
    color: $textColor;
    background: $bgColor;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* 不予许选中文本 */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

// 基础字体样式
.we-title {
    font-size: $largeFont;
    color: $titleColor;
}
.we-text {
    font-size: $normalFont;
    color: $textColor;
}
.we-tips {
    font-size: $smallFont;
    color: $tipsColor;
}

// 1-6行显示，多出部分以省略号...显示
.we-line-1,
.we-line-2,
.we-line-3,
.we-line-4,
.we-line-5,
.we-line-6 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
}
.we-line-1 {
    -webkit-line-clamp: 1;
}

.we-line-2 {
    -webkit-line-clamp: 2;
}

.we-line-3 {
    -webkit-line-clamp: 3;
}

.we-line-4 {
    -webkit-line-clamp: 4;
}

.we-line-5 {
    -webkit-line-clamp: 5;
}

.we-line-6 {
    -webkit-line-clamp: 6;
}

// 清除浮动
.we-clear-float:before,
.we-clear-float:after {
    content: '';
    display: table;
}
.we-clear-float {
    clear: both;
}
.we-clear-float {
    zoom: 1;
}

// border边框样式
.we-border-0 {
    border: 0;
}
.we-border-1 {
    border: 1px solid $borderColor;
}
.we-border-top-1 {
    border-top: 1px solid $borderColor;
}
.we-border-bottom-1 {
    border-bottom: 1px solid $borderColor;
}
.we-border-left-1 {
    border-left: 1px solid $borderColor;
}
.we-border-right-1 {
    border-right: 1px solid $borderColor;
}

.we-width-100pc {
    width: 100%;
}

.we-width-90pc {
    width: 90%;
}

.we-width-100vw {
    width: 100vw;
}

.we-height-100pc {
    height: 100%;
}

// 分隔区
.we-divider {
    display: block;
    width: 100%;
    height: 10px;
    background: $bgColor;
}

